body {
    background-color: #F9F5EB;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
}

button {
    border-radius: 5px;
    border: 2px solid #607EAA;
    padding: 10px;
    gap: 10px;
}

.title, .footer {
    text-align: center;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

#display {
    background-color: #FFFFFF;
    border: 2px solid #607EAA;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    padding: 10px 25px;
    font-size: 20px;
    margin-bottom: 20px;
}

.calculator {
    background-color: #B7CADB;
    border: 2px solid #607EAA;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
}

.center-row-buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bottom-row-buttons {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 10px;
}

#clearBtn {
    background-color: #EB1D36;
}

#deleteBtn {
    background-color: #3AB0FF;
}

.digit, .decimal {
    background-color: #EAE3D2;
}

.operator {
    background-color: #F66B0E;
}