body {
    background-color: #F9F5EB;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
}

button {
    border-radius: 5px;
    border: 2px solid #607EAA;
    padding: 10px;
    gap: 10px;
}

.title {
    text-align: center;
    padding: 10px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    min-height: 300px;
    min-width: 300px;
    margin-top: 30px;
}

#display {
    background-color: #FFFFFF;
    border: 2px solid #607EAA;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    padding: 10px 25px;
    font-size: 20px;
    margin-bottom: 20px;
}

.calculator {
    background-color: #B7CADB;
    border: 2px solid #607EAA;
    border-radius: 10px;
    width: 250px;
    padding: 20px;
}

.top-buttons {
    display: flex;
    gap: 10px;
}

.center-buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bottom-buttons {
    display: flex;
    gap: 10px;
}

#clearBtn {
    background-color: #EB1D36;
    width: 120px;
}

#deleteBtn {
    background-color: #3AB0FF;
    width: 54px;
}

#divide {
    width: 55px;
}

#zero {
    width: 120px;
}

#decimalBtn {
    width: 54px;
}

#equalBtn {
    width: 55px;
}

.digit, .decimal {
    background-color: #EAE3D2;
}

.operator {
    background-color: #F66B0E;
}